
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 63%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}

section{
  padding: 2rem 9%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
}

header {
  position: fixed;
  top: 0; left: 0;right: 0;
  /* background-color: #1B1A55; */
  padding: 1rem 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.logo{
  font-size: 3rem;
  color: white;
  font-weight: bolder;
  text-align: left;
}
.logopic{
  border-radius: 50%;
}
.logo span{
  color: white;
}

.navbar a{
  font-size: 2rem;
  padding: 2 3 5.5rem;
  color: white;
}

.navbar a:hover{
  color:white;
}

#toggler{
  display: none;
}

.bars{
  font-size: 3rem;
  color: #333;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: 1rem solid rgba(0,0,0,.3);
  display: none;
}

.home{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background:  linear-gradient(90deg,rgb(27, 26, 85),rgb(27, 26, 85)),
  white; /* here is your single color */
  background-size: cover;
  background-position: center;
  filter: brightness(75%);
}

.content{
  max-width: 50rem;
}

.content h3{
  font-size: 6rem;
  color: white;
}

.content span{
  font-size: 2rem;
  color: #6cc4cf;
  padding: 1rem 0;
  line-height: 1.5;
}

.content p{
  font-size: 1.7rem;
  color: #6cc4cf;
  padding: 1rem 0;
  line-height: 1.5;
}

.row{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.video-contain{
  flex: 1 1 40rem;
  position: relative;
}

.video-contain video{
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  height: 1005;
  object-fit: cover;
}

.content{
  flex: 1 1 40rem;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color:#00383f;
  padding: 1rem;
  margin: 2rem 0;
  background: #fff;
}

.heading span{
  color: #6cc4cf;
}

.btn{
  display: inline;
  margin-top: 3rem;
  border-radius: 5rem;
  background: black;
  color: aliceblue;
  padding: .9rem 3.5rem;
  cursor:pointer;
  font-size:1.7rem;
}

.btn:hover{
  background:#00383f ;
}

.box-con{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.bo{
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  padding: 3rem 2rem;
  position: relative;
}

.fa-quote-right{
  position: absolute;
  bottom: 3rem; right: 3rem;
  font-size: 6rem;
  color: #eee
}

.stars i{
  color: #95cfd5;
  font-size: 2rem;
}

.bo p{
  color: grey;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2rem;
}

.user{
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.user h3{
  font-size: 2rem;
  color: #333;
}

.user span{
  font-size: 1.5rem;
  color: #999;
}

.icon {
  padding-top: 60px;
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  padding-bottom: 5rem;
  
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.25);
  overflow: hidden;
}

.icon h2{
  color:#00383f;
  padding:5rem ;
}

.icon span{
  color: #6cc4cf;
}

.grp {
  background: #fff;
  border: 1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding:2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem
}

.grp img {
  width: 100%;
  height: 5rem;
  margin-right: 2rem;
  object-fit: contain;
}



@media(max-width:991px){
  html{
    font-size: 55%;
  }
  header{
     padding: 2rem;
  }
  section{
    padding: 2rem;
 }
 .home{
  background-position: left;
 }
}

@media(max-width:768px){
  .bars{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #eee;
    border-top: .1rem solid  rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  #toggler:checked~.navbar{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navbar a{
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 1rem solid rgba(0,0,0,.1);
    display: block;
  }

  .content h3{
    font-size: 5rem;
  }
  .content span{
    font-size: 2.5rem;
  }
}

@media(max-width:450px){
  html{
    font-size: 50%;
  }
  .heading{
    font-size: 3rem;
  }
}
